*{
   margin: 0;
   padding: 0;
}
.box-demo{
   border: 1px solid #000;
   background-color: #e0e0e0;
   box-sizing: border-box;
   margin: 10px;
   padding: 5px;
}
.box-demo-2{
   box-sizing: border-box;
}
