*{
    margin: 0;
    padding: 0;
}
.product-card{
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-sizing: border-box;
    height: auto;
    background-color: rgb(232, 28, 28);
}
.product-card h2{
    font-size: 24px;
    font-weight: bold;
}
.product-card p{
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: rgb(224, 101, 92);
    font-size: 16px;
    line-height: 1.8;
    
}
.product-card span{
    font-size: 20px;
    color: #100f0f;
}
.product-card button{
    padding: 5px;
    border: 2px solid black;
    background-color: #24063d;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
